body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #656A73;
  color: #fff;
  text-align: center;
}

a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
  display: inline-block;
}

ul{
	padding: none;
}
